#top {
	display: flex;
	flex-wrap: wrap;
}

#adicionarProdutos {
	flex: 1 0 5rem;
	display: flex;
}

.input-div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

.input-p {
	font-size: 1.2rem;
}

.input-div input {
	width: 90%;
	padding: 4px 6px;
}

#aprovarUsuarios, #aprovarPedidos {
	flex: 1 0 10rem;
}












#imobilizadoreg { 
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
    /* margin-left: auto; */
	height: 20px;
	background: #c7c7c7;
    border: 1px solid #ccc;
	display: block;
	border-radius: 100px;
	position: relative;
}